<section class="hero is-dark">
    <div class="hero-body is-small">
        <div class="container">
            <div id="wrapper">
                <h1 class="Title"> New York Times Scraper</h1>
                <h2 class="Subtitle"> Leave A Post About An Article</h2>
            </div>
        </div>
</section>
<br>
<br>
<a id="scrape" href="/scrape"><button class="button is-dark">Scrape</button></a>
<br>
<br>
<section class="section hero has-background-grey-light">
    <div class="container">
        <h3>Articles</h3>
        <div id="articles"></div>
        <div id="notes"></div>
    </div>
</section>
<footer class="footer has-background-dark">
    <div class="content has-text-centered has-background-white">
        <p>
            <strong>NYT Scraper</strong> by
            <a href="https://jgthms.com">Trenton Ankenrbruck</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>